[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "sayef.github.io"]
	path = sayef.github.io
	url = https://github.com/sayef/sayef.github.io.git
